POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=port
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
SECRET_KEY=secret_key
ALGORITHM=algorithm
MAIL_USERNAME=example@mail.com
MAIL_PASSWORD=password
MAIL_FROM=example@mail.com
MAIL_PORT=port
MAIL_SERVER=smtp.mail.com